button {
  width: 100%;
  max-width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.textContainer {
  gap: 5px;
  margin-bottom: 30px;
  text-align: center;
}
.homeImage {
  width: 50vw;
  max-width: 500px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 100vh;
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    width: 100vw;
  }
  .textContainer {
    margin-bottom: 60px;
  }
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  margin: 0;
}

.btnstart {
  color: white;
  padding: 15px;
  background-color: black;
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  font-size: 20px;
  background-color: black;
}

.btnstart:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
