* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PDNContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}
.infoContainer {
  background-color: #ffe5e5;
  width: 30%;
  min-width: 250px;
  text-align: left;
  border-radius: 20px;
  padding: 2%;
  font-size: 18px;
  align-self: flex-start;
}

.mainContainer {
  background-color: #a7d7f9;
  max-width: 2500px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  text-align: center;
  padding: 2%;
}

.chartContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.pieContainer {
  .pieContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}

.infoContainer {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* sombra suave */
  border-radius: 16px;
  padding: 1.5rem;
  font-size: 1.1rem;
  max-width: 500px;
  transition: transform 0.3s ease;
}

.infoContainer:hover {
  transform: scale(1.01);
}

.recomendacionContainer {
  background-color: #ffe5e5;
  border: 2px solid #ff4d4d;
  color: #b30000;
  border-radius: 20px;
  padding: 1%;
}

.contactoLink {
  text-decoration: underline;
  cursor: pointer;
}

.graficasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.text {
  width: 100%;
  max-width: 600px;
  background-color: #ffe5e5;
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
}

.select {
  background-color: #ffe5e5;
  width: 300px;
}
